#input-show {
    width: 200px;
    height: 25px;
    margin-bottom: 5px;
}

#submit-data {
    border-color: green;
    border-radius: 5px;
    height: 30px;
    
}

body {
    background-color: #eceff1;
    font-family: 'Roboto', sans-serif;
}

.show-container {
    padding-left: 10px;
    padding-right: 10px;
}

.show-data {
    width: 100%;
    background-color: #cfd8dc;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: black;
}

.show-data h1 {
    text-align: center;
}

.show-data img {
    display: block;
}

.show-info {
    width: 100%;
}

@media screen and (min-width: 800px){
    .show-data {
        display: flex;
        width: 100%;
    }

    .show-info {
        padding: 10px;
    }
}

@media screen and (max-width: 799px){
    .show-data img {
        margin: auto;
    }
    .show-info p {
        text-align: center;
        padding: 10px;
    }
}